.field{
	border: 1px solid #65ff00;
	border-radius: 3px;
	height:18px;
	color:#4d9c18;
}

.field:hover{
	background-color:#e0ffcb;
}

.field:focus{
	outline: 0;
}

.button{
	border: 1px solid #143300;
	border-radius: 3px;
	height:20px;
	color:#4d9c18;
	background: repeating-linear-gradient(135deg,#9bd277,#9bd277 5px,#b3ec8d 5px,#b3ec8d 10px);
}

.button:hover{
	background: repeating-linear-gradient(135deg,#a5df7f,#a5df7f 5px,#bffd97 5px,#bffd97 10px);
	cursor:pointer;
}

.button:focus{
	outline: 0;
}



/******************************************************BODY******************************************************/
body {
	background: #f7f7f7;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}



#container {
	width: 80%;
	margin: 0 auto;
	padding: 0;
	background-color: #f7f7f7;
	border: 3px solid #327e00;
	border-radius: 20px;
}

/******************************************************BODY END******************************************************/
/******************************************************HEADER******************************************************/
#header {
	background: repeating-linear-gradient(135deg,#327e00,#327e00 5px,#4d9c18 5px,#4d9c18 10px);
	margin: 0 auto;
	height: 120px;
	border: 3px solid #f7f7f7;
	border-radius: 20px;
	overflow:hidden;
}

#logo{
	padding: 20px 0 0 20px;
	float:left;
	height:100px;
	width:142px;
	background-image:url("images/cat.png");
	background-repeat: no-repeat;
    background-position: center; 
}

.search_text{
	float:right;
	padding:20px 10px 0 0;
	width:200px;	
}

#search_field{
	clear: right;
	float:right;
	padding:10px 10px 0 0;
	width:200px;
}

#content_nf{
	clear: right;
	float:right;
	padding:10px 10px 0 0;
	width:200px;
	color:RED;
	visibility:hidden;
}

#searc_but{
	clear: right;
	float:right;
	margin:5px 70px 0 0;
	width:100px;
}

/******************************************************HEADER END******************************************************/
/******************************************************CONTENT******************************************************/

#content {
	width: 100%;
	margin: 0 auto;
	color:#4d9c18;
	text-align:center;
	overflow:auto; 
	
}

.movie_box{
	height:150px;
	width:300px;
	border: 2px solid #327e00;
	border-radius:10px;
	display:inline-block;
	overflow:hidden;
	margin:10px;
	text-align:left;
}

#movie_box_poster{
border:1px solid #327e00;
border-radius: 10px;
height:140px;
width:95px;
margin: 4px 0 0 3px;
float:left;
overflow:hidden;
}

.movie_box_title{
	text-align:left;
	font-size:20px;
	color:#327e00;
	width:calc(100% - 110px);
	font-weight:bold;
	padding:10px 0 0 10px;
	float:left;
}

.movie_box_description{
	text-align:left;
	font-size:12px;
	color:#327e00;
	padding:10px 0 0 10px;
	float:left;
	width:calc(100% - 110px);
}

#more_info_button{
height:30px;
width:30px;
margin-top:118px;
margin-left:calc(100% - 35px);
background-image:url("images/more_info.png");
cursor:pointer;

}

#more_info_button:hover{
background-image:url("images/more_info_active.png");
}

#navigation_menu{
height:20px;
margin-top:20px;
width:80%;
}

.navigation{
	font-weight:bold;
	font-size:18px;
	color:#327e00;
	padding:10px 0 0 10px;
}

.navigation:hover{
	color:#66d61d;
	text-decoration:underline;
	cursor:pointer;
}

.navigation_current{
	font-weight:bold;
	font-size:18px;
	color:#66d61d;
	padding:10px 0 0 10px;
}


/*Vienas filmas apskatam*/
#content_poster {
	width: 300px;
	height: 438px;
	margin:20px 0 0 20px;
	border:3px solid #327e00;
	border-radius: 10px;
	overflow:hidden;
	float:left;
}

#content_title{
	font-size:25px;
	color:#327e00;
	float:left;
	text-align:left;
	margin:20px 0 0 20px;
	width:calc(100% - 346px);
	font-weight:bold;

}

.content_other{
	font-size:12px;
	width:calc(100% - 351px);
	height:auto;
	color:#327e00;
	float:left;
	text-align:left;
	margin:10px 0 0 20px;
	padding-bottom:0px;
	padding-right:5px;
}

#back_butt{
	background-image:url("images/back.png");
	height:50px;
	width:50px;
	float:right;
	margin:20px 20px 0 20px;
}

#back_butt:hover{
	background-image:url("images/back_active.png");
}



/******************************************************CONTENT END******************************************************/
/******************************************************FOOTER******************************************************/

#footer {
	margin-top: 30px;
}

#footer p {
	text-align: left;
	color: #999;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}



#footer .footer-bottom {
	padding: 7px 15px 0;
	height: 30px;
	color: #666;
	background: repeating-linear-gradient(135deg,#327e00,#327e00 5px,#4d9c18 5px,#4d9c18 10px);
	border: 3px solid #f7f7f7;
	border-radius: 20px;
}

#footer .footer-bottom p {
	color: #FFF;
	text-align:center;
}

/******************************************************FOOTER END******************************************************/

/******************************************************Citiem ekrānizmēriem******************************************************/

@media only screen and (max-width: 850px) {
	#container {
	width: 95%;
	margin: 0 auto;
	padding: 0;
	background-color: #f7f7f7;
	border: 3px solid #327e00;
	border-radius: 20px;
	}
	
	.movie_box{
	height:150px;
	width:90%;
	border: 2px solid #327e00;
	border-radius:10px;
	display:inline-block;
	overflow:hidden;
	margin:10px;
	text-align:left;
}
}

@media only screen and (max-width: 600px) {
	#content_poster{
	width:0px;
	height:0px;
	visibility:hidden;
	}
	
	#content_title{
	font-size:25px;
	color:#327e00;
	float:left;
	text-align:left;
	margin:20px 0 0 0px;
	width:80%;
	font-weight:bold;
	}
	
	.content_other{
	font-size:12px;
	width:90%;
	height:auto;
	color:#327e00;
	float:left;
	text-align:left;
	margin:10px 0 0 20px;
	padding-bottom:0px;
	padding-right:5px;
}
}

@media only screen and (max-width: 450px) {
	#logo{
		padding:0 0 0 0;
		height:0px;
		width:0px;
		background-image:none;
		
	}
	
	.search_text{
		clear: left;
		float:left;
		margin:0px 0 0 20px;
		width:200px;	
	}

	#search_field{
		clear: left;
		float:left;
		padding: 0 0 0 0;
		margin:10px 0px 0 20px;
		width:200px;
	}

	#content_nf{
		float:left;
		margin:5px 0 0 20px;
		width:200px;
		color:RED;
		visibility:hidden;
	}
	
	#movie_box_poster{

		height:0px;
		width:0px;
	}
	
}
